h1 {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
    text-align: center;
    font-size: 100px;
    color: khaki;
}

.h2 {
    display: block;
    font-weight: bold;
    color: white;
    font-size: 32px;
}

.brushes {
    background-color: MediumSpringGreen;
    color: white;
}
.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}
.price {
    color: blue;
    font-weight: bold;
}